.autor-title {
  font-size: 54px;
  margin-top: 200px;
  text-align: center;
}

.autor-title span {
  color: #ff8853;
}

.autor-content {
  color: #404040;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 100px;
}